header {
    background-color: var(--red-tertiary);
    color: var(--white);
    padding: 1rem 0;
    text-align: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: var(--white);
    text-decoration: none;
  }