h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
}

.sobreWrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0px auto;
    position: relative;
    padding-bottom: 280px;
}

.sobreLeft {
    width: 40%;
    float: left;
    margin-right: 7%;
    position: relative;
    z-index: 100;
    color: var(--white);
}

.sobreLeft img {
    width: 100%;
}

.sobreBody{
    transform: rotate(1.4deg);
    position: absolute;
    top: 1%;
    left: -1.9%;
    z-index: 120;
    width: 100%;
}

.sobreMim{
    transform: rotate(-8deg);
    position: absolute;
    top: 11.5%;
    left: 19.9%;
    z-index: 102;
    width: 75.6%;
}


@keyframes pescoco {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.pescoco {
    animation-name: pescoco;
    -webkit-animation-name: pescoco;
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
    transform-origin: 50% 90%;
    -ms-transform-origin: 50% 90%;
    -webkit-transform-origin: 50% 90%;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.sobreRight{
    width: 40%;
    float: right;
    text-align: left;
    padding-top: 50px;
    font-size: x-large;
}

#hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.githubIcon2 {
    width: 64px;
    margin: 0px 13px 0px 0px;
    background-color: #8b8a8a;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -khtml-border-radius: 30px;
    float: left;
}

#content {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.githubIcon2 img {
    width: 100%;
}

.linkedinIcon2 {
    width: 64px;
    margin: 0px 13px 0px 0px;
    background-color: #6291c6;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -khtml-border-radius: 30px;
    float: left;
}

.linkedinIcon2 img {
    width: 100%;
}

.instagramIcon2 {
    width: 64px;
    margin: 0px 13px 0px 0px;
    background-color: #ff6c6c;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -khtml-border-radius: 30px;
    float: left;
}

.instagramIcon2 img {
    width: 100%;
}

/* ------------------------------- media screen -------------------------------  */

@media screen and (max-width: 1000px) {
    .sobreWrapper {
        max-width: 850px;
        padding-bottom: 190px;
    }
}
@media screen and (max-width: 1200px) {
    .sobreWrapper {
        max-width: 1000px;
        padding-bottom: 230px;
    }
}

@media screen and (max-width: 1000px) {
    .sobreLeft {
        width: 55%;
        float: left;
        margin-right: 5%;
        margin-top: -10px;
    }
}

@media screen and (max-width: 1200px) {
    .sobreLeft {
        width: 53%;
        float: left;
        margin-right: 7%;
    }
}

@media screen and (max-width: 1000px) {
    .sobreRight {
        width: 40%;
        padding-top: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .sobreRight {
        width: 40%;
        padding-top: 40px;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1400px) {
    h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .githubIcon2 {
        width: 38px;
        margin: 0px 10px 0px 0px;
    }
}

@media screen and (max-width: 1200px) {
    .githubIcon2 {
        width: 50px;
        margin: 0px 11px 0px 0px;
    }
}
@media screen and (max-width: 1400px) {
    .githubIcon2 {
        width: 57px;
        margin: 0px 13px 0px 0px;
    }
}

@media screen and (max-width: 1000px) {
    .linkedinIcon2 {
        width: 38px;
        margin: 0px 10px 0px 0px;
    }
}

@media screen and (max-width: 1200px) {
    .linkedinIcon2 {
        width: 50px;
        margin: 0px 11px 0px 0px;
    }
}
@media screen and (max-width: 1400px) {
    .linkedinIcon2 {
        width: 57px;
        margin: 0px 13px 0px 0px;
    }
}

@media screen and (max-width: 1000px) {
    .instagramIcon2 {
        width: 38px;
        margin: 0px 10px 0px 0px;
    }
}

@media screen and (max-width: 1200px) {
    .instagramIcon2 {
        width: 50px;
        margin: 0px 11px 0px 0px;
    }
}
@media screen and (max-width: 1400px) {
    .instagramIcon2 {
        width: 57px;
        margin: 0px 13px 0px 0px;
    }
}