/* Variables for Dark Theme */
:root {
    --black: #000000;
    --white: #FFFFFF;
    --red-primary: #FF0000;
    --red-secondary: #950101;
    --red-tertiary: #5a1414;
    --tertiary-grey: #8a8989;
    --secondary-grey: #c6c9ca;
    --primary-grey: #dadbdb;
}